* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}
.container {
    width: 1920px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
/*Hero*/
.header {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
max-width: 1920px;
    max-height:100px;
    
  
    
}
.header-top {
    align-items: center;
    display: flex; 
   
    

}
.header-logo {
    margin-left: 75px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.header-logo-top {
    margin: 0;
}
.nav-list {
    align-items: center;
    display: flex;
    margin-left: 729px;
    max-width: 790px;
   
 
   
    

}
.nav-list-item:not(:last-child) {
    margin-right:85px;
}

.nav-list-item {
   text-align: center;
}
.button-nav {
    background-image: url(/IMG/Ellipse\ 1.png);
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    margin: 0;
   width: 23px;
   height: 23px;
 left: 1730px;
 top: 40px;


}
/*Hero*/
.section-hero {
    width: 1770px;
    height: 620px;
    margin-left: 75px;
} 
.section-hero__numbers {
    
position: absolute;
width: 841.76px;
height: 159px;
left: 153px;
top: 204px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 70.3742px;
line-height: 86px;
margin: 0;
color: #FFFFFF;
}
.section-hero__amount {
    position: absolute;
width: 836.73px;
height: 58px;
left: 153px;
top: 395px;
color: #FFFFFF;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 23.4581px;
line-height: 29px;
}
.section-hero__button {
    display: flex;
flex-direction: row;
align-items: center;
padding: 18.571px 37.1419px;

position: absolute;
width: 280.52px;
height: 80px;
left: 155.45px;
top: 550px;
color: #FFFFFF;
background: #FF9900;
}
/*Description*/
.section-description {
    height: 315px;
}
.section-description__heading {
    
width: 235px;
height: 70px;
left: 77px;
top: 821px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;
margin: 100px 1608px 10px 75px;
color: #333333;
}   
.section-description__text {
    height: 192px;
    width: 1235px;
    margin: 0 610px 44px 75px;
    Font-family: Montserrat;

Font-size: 16px;
color: #333333;
line-height: 19.5px;
font-weight: 400;


}
/*Services*/
.section-services {
    height: 622px;
    margin-bottom: 100px;
}
.section-services__heading {
    display: flex;
    flex-wrap: wrap;
}
.section-services__left {
    width: 870px;
    height: 622pxpx;
    margin-left: 75px;
    margin-right: 30px;
}
.section-services__left-footer {
    display: flex;
    position: absolute;
    width: 870px;
    height: 176px;
    left: 75px;
    top: 1585px;
    background: rgba(0, 0, 0, 0.5)
}
.section-services__left-heading {
width: 497px;
height: 90px;
margin: 44px 0 42px 54px;
color: #FFFFFF;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
}
.section-services__button {
display: flex;
flex-direction: row;
align-items: center;
padding: 19px 38px;
margin: 58px 68px 58px 0;
background:rgba(0, 0, 0, 0.5); 
width: 175px;
height: 60px;
left: 702px;
top: 1641px;
border: 3px solid #FF9900;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
color: #FFFFFF;
    

}



.section-services__list {
    width: 870px;
    height: 622px;
}
.section-services__description {
    width: 870px;
    height: 295px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    box-sizing: border-box;
}
.section-services__description:not(:last-child) {
    margin-bottom: 30px;
}

.section-services__description-circle {
position: absolute;
top:1227px;
left:1038px;



}
.section-services__description-cube {
 
position: absolute;
top: 1210px;
left: 1097px;

    width: 119px;
    height: 132px;
}

.section-services__description-line {
    position: absolute;
    top: 1225px;
    left: 1127px;
}
.section-services__description-tick {
    position: absolute;
    top: 1243px;
    left: 1099px;
}
.section-services__description-straight {
    position: absolute;
    top: 1275px;
    left: 1155px;
}
.section-services__description-consul {
    margin: 67px 118px 72px 300px;
    font-family: Montserrat;
font-style: normal;

font-size: 24px;
line-height: 29px;

color: #333333;
}
.section-services__description-circle-do {
position: absolute;
left: 1038px;
top: 1552px;
}
.section-services__description-pattern {
    position: absolute;
    top: 1519px;
    left: 1089px;
}
.section-services__description-eclipse {
    position: absolute;
    top: 1564px;
    left: 1134px;
}
/*work*/
.section-work__description-heading {
margin: 0 0 38px 73px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;
color: #333333;

}
.section-work__description {
    display: flex;
}
.section-work__description-left {
    max-width: 50%;
    
}
.section-work__description-list {
    display: flex;
    margin-left: 77px;

    font-family: Montserrat;
    margin-bottom: 49px;

}
.section-work__description-list :not(:last-child) {
    margin-right: 89px;
}
.section-work__description-list-item:first-child {
    margin-right: 85px;
    color: #FF9900;
}
.section-work__description-text-heading {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #333333;
margin: 0 0 0 77px;
margin-bottom: 16px;
}
.section-work__description-text {
font-family: Montserrat;
font-style: normal;
width:758px;
height:316px;
font-size: 16px;
line-height: 32px;
margin: 0 0 101px 77px;
color: #333333;
}
.section-work__description-button {
    display: flex;
    margin: 101px 0 100px 77px;
}
.section-work__description-button-left {
display: flex;
flex-direction: row;
align-items: center;
padding: 19px 38px;

width: 175px;
height: 60px;
background: #FF9900;
border: none;
color: #FFFFFF;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
text-align: center;
}
.section-work__description-button-right {
    display: flex;
flex-direction: row;
align-items: center;
padding: 19px 38px;
margin-left: 30px;
width: 147px;
height: 60px;
background: #FFFFFF;
border: 2px solid #333333;
color: #333333;
font-family: Montserrat;
font-style: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
}


.section-work__description-right {
    max-width: 50%;
    margin-top: 186px;
    margin-left: 142px;
}
   /*question*/
   .section-question__heading {
       margin: 0 0 27px 77px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
   line-height: 59px;
   color: #333333;
}
.section-question__list {
    border-top: 1px solid rgba(202, 202, 202, 1);  
}

.section-question__list-item {

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #333333;
height: 113px;
border-bottom: 1px solid rgba(202, 202, 202, 1);
margin: 38px 0 44px 77px;

}
.section-question__list-item:first-child {
    
    margin-top: 38px 0 0 77px;
}
.section-question__image-eclipce {
    
width: 49.8px;
border-radius: 23px;
height: 50px;
position: absolute;
left: 1793px;
background: #ECECEC;

}
.section-question__image-plus {
    
width: 30.88px;
height: 31px;
position: absolute;
left: 1803px;
color: #666666;
margin-top: 10px;

}
/*footer*/
.section-footer {
    height: 630px;
    background:rgba(34, 34, 34, 1);
    margin-top: 56px;
} 
.section-footer__info {
    display: flex;
}
.section-footer__left {
    margin-right: 371px;
}
.section-footer__heding {
   
    width: 224px;
    height: 72px;
    margin: 48px 0 19px 75px;
    
    
}
.section-footer__list {
    margin: 19px 0 0 75px;
    color:rgba(202, 202, 202, 1);
    ;
}
.section-footer__list-item:not(:last-child) {
    margin-bottom: 19px;
}
.section-footer__icon {
    display: flex;
    margin: 118.12px 0 0 74.92px;
}
.section-footer__icon-facebook {
    background-image: url(/IMG/fb.svg);
    width: 60px;
    height: 60px;
}
.section-footer__icon-vk {
    background-image: url(/IMG/Vector.png);
    width: 60px;
    height: 60px;
    margin-left: 25px;
    margin-right: 25px;

}
.section-footer__icon-instagram {
    background-image: url(/IMG/Vector\ \(1\).png);
    width: 60px;
    height: 60px;
}
.section-footer__centre {
    width: 570px;
}
.section-footer__centre-heading {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;


color: #CACACA;
}
.section-footer__fedback-name {
width: 570px;
height: 60px;
background: #414141;
border: none;
margin-bottom: 25px;
}
.section-footer__fedback-email {
    width: 570px;
height: 60px;
background: #414141;
border: none;
margin-bottom: 25px;
}
.section-footer__fedback-message {
    width: 570px;
    height: 150px;
    background: #414141;
    border: none; 
}
.section-footer__btn {
display: flex;
flex-direction: row;
align-items: center;
padding: 19px 52px;
margin-top: 31px;
width: 269px;
height: 60px;
background: #FF9900;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
}
.section-footer__processing {
    display: flex;
}
.section-footer__fedback-box {
    margin: 54px 4px 0 22px;
    
}
.section-footer__fedback-box-text {
    margin-top: 45px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
color: #CACACA;
}
.section-footer__right {
    width:363px;
    height:320px;
    margin: 126px 75px 184px 236px;
}
.section-footer__right-text {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
color: #CACACA;
}
    


